# Compiler files
cache/
out/
!/test/simulations/out
node_modules

# Ignores development broadcast logs
/broadcast/*
/lib/**

# Dotenv file
.env
.DS_Store
PLAN.md
*.csv
test/**/*.html
.gas-snapshot
deploy.session