{
  "plugins": ["prettier-plugin-solidity", "prettier-plugin-python"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "semi": false,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120,
        "semi": true,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.py",
      "options": {
        "printWidth": 88,
        "semi": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
